@font-face {
    font-family: "magic";
    font-display: auto;
    src: local('Arvo'), url(../assets/fonts/MAGIC.TTF);
}

@font-face {
    font-family: "berelen-small";
    font-display: auto;
    src: local('Arvo'), url(../assets/fonts/JaceBeleren-Bold.ttf);
}

@font-face {
    font-family: "PLantin";
    font-display: auto;
    src: local('Arvo'), url(../assets/fonts/2009\ GLC\ Plantin-Normal.otf);
}

:root {
    --shadow-x: 4px;
    --shadow-y:22px;
    --card-content-color: hsl(35, 16%, 80%);
    --card-border-color:hsla(228, 11%, 20%, 1);
  }

* {

    /* backface-visibility: hidden; */
    /* -webkit-backface-visibility: hidden; */
    /* -webkit-touch-callout: none; iOS Safari */
    /* -webkit-user-select: none; Safari */
    /* -khtml-user-select: none; Konqueror HTML */
    /* -moz-user-select: none; Firefox */
    /* -ms-user-select: none; Internet Explorer/Edge */
    /* user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
audio{
    display:none;
}

html, body {
    width:100%;
    height: 100%;
    overflow: hidden;
}

body{

    background-image: url(../assets/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    -webkit-filter: drop-shadow(var(--shadow-x) var(--shadow-y) 10px rgba(0,0,0,0.9));
    filter: drop-shadow(var(--shadow-x) var(--shadow-y) 10px rgba(0,0,0,0.9));
    
}
.flip{
    perspective: 500px;
    transition: transform .5s;
}

.flip::after{
    content:"swip!";
    position: absolute;
    bottom:-30px;
    font-family: berelen-small;
    color: var(--card-content-color);
    left:0;right:0;margin:auto;
    text-shadow: 0 0 10px var(--card-content-color);
    text-align: center;
    z-index:-1;
}

.flip.hover-left .card,
.flip:hover .card{
    transform: rotateY( -180deg ) ;
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    
    transition: transform .5s;
}
.flip.hover-right .card{
    transform: rotateY( 180deg ) ;
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    
    transition: transform .5s;
}


/* Card */
.card{
    position: relative;
    width: calc( 3 * 6.4rem);
    height: calc( 3 * 8.9rem);
    background-color: hsla(228, 11%, 20%, 1);
    border-radius: 6%/5%;
    
    box-shadow: 0 0 0 rgba(0,0,0, 0.4);
    
    animation: pulse 2.5s infinite;
    transition: transform 1s;
    /* transform:rotate(-1deg);     */
    transform-style: preserve-3d;
}

.card::before {
    /* content: ""; */
    background: green;
    background-position: 50% 50%;
    opacity: 0.5;
    top: 0.78rem;
    left: 0.78rem;
    bottom: 2rem;
    right: 0.78rem;
    position: absolute;
    z-index: 0;
    border-radius: 61px / 33px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

.card::after {
    content: "";
    background-image: url(../assets/card.png);
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .face {
    border-radius: 3%/3%;
    position:absolute;
    top:0;
    align-items: center;
    width: 100%;
    height: 100%; 
    backface-visibility: hidden;
}

.back{
    
    background:var(--card-border-color);
    font-size:2em;
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    border: 10px solid var(--card-content-color);
    box-shadow:inset 0 0 20px 10px var(--card-border-color);
    background-image: url(../assets/bg.jpg);
    background-size:100% 100%;
    /* filter:saturate(0.3) brightness(0.7); */

    transform: rotateY( 180deg ) translateZ(1px);
    -moz-transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}
.back::before{
    content:"";
    background: url(../assets/back.png);
    background-size:100% 100%;
    position:absolute;
    left:0;top:0;
    width:100%;height:100%;
    z-index: -1;
}

div#title1 {
    color: rgb(73, 72, 72);
    text-shadow: 0 0 1px rgb(73, 72, 72);
    font-family: "berelen-small";
    background-color: var(--card-content-color);
    width: calc(100% - 48px);
    position: absolute;
    top: 19px;
    left:18px;
    font-size:0.9em;
    padding-left: 8px;
    font-weight: bold;
    line-height: 22px;
    border: 2px solid var(--card-border-color);
    border-radius: 11px/22px;
}

div#portrait {
    width: 84%;
    background-color: var(--card-content-color);
    border: 2px solid var(--card-border-color);
    height: 44%;
    left:23px;
    position: absolute;
    top: 46px;
    background-image: url(https://avatars.githubusercontent.com/h3r);
    background-position: 50% 50%;
    background-size: cover;
    filter: brightness(1.25) sepia(83%);
    overflow: hidden;

}

#portrait img{
    width: 100%;
    height: auto;

}

div#title2 {
    text-shadow: 0 0 1px rgb(73, 72, 72);
    color: rgb(73, 72, 72);
    font-family: "PLantin";
    background-color: var(--card-content-color);
    width: calc(100% - 48px);
    position: absolute;
    top: 240px;
    font-size: 0.9em;
    left: 18px;
    padding-left: 8px;
    font-weight: 900;
    stroke: red;

    text-decoration-line: 8px solid red;

    line-height: 22px;
    border: 2px solid var(--card-border-color);
    border-radius: 11px/22px;
}

div#content {
    font-size: 0.85em;
    text-shadow: 0 0 1px rgb(73, 72, 72);
    color: rgb(73, 72, 72);
    font-family: "PLantin";    
    position: absolute;
    top: 268px;
    left:23px;
    width: calc(84% - 1em);
    height: calc(26.8% - 0.5em);
    background-color: var(--card-content-color);
    border: 2px solid var(--card-border-color);
    -moz-box-shadow: inset 0 2px 14px rgba(0,0,0,0.85);
    -webkit-box-shadow: inset 0 2px 14px rgba(0,0,0,0.85);
    box-shadow: inset 0 2px 14px rgba(0,0,0,0.85);
    padding: 0.5em 0.5em;

}

div#content::before {
    content: "";
    width: 28px;
    height: 15px;
    border: 2px solid var(--card-border-color);
    background-color: var(--card-content-color);
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 45px / 27px;
}

div#content::after {
    content: "4/3";
    width: 48px;
    height: 23px;
    border: 2px solid var(--card-content-color);
    background-color: var(--card-content-color);
    position: absolute;
    bottom: -13px;
    right: -8px;
    border-radius: 45px / 77px;
    box-shadow: inset 0 0 5px;
    font-size: 1.5em;
    text-align: center;

}

@keyframes candle{
    0%  {
        -webkit-filter: drop-shadow(calc(var(--shadow-x) + 4px) calc(var(--shadow-y)+3px) 10px rgba(0,0,0,0.9));
        filter: drop-shadow(calc(var(--shadow-x) + 4px) calc(var(--shadow-y)+3px) 10px rgba(0,0,0,0.9));
    }
    50% {
        -webkit-filter: drop-shadow(calc(var(--shadow-x) + 0px) calc(var(--shadow-y)+7px) 10px rgba(0,0,0,0.9));
        filter: drop-shadow(calc(var(--shadow-x) + 0px) calc(var(--shadow-y)+7px) 10px rgba(0,0,0,0.9));
    }
    100%{
        -webkit-filter: drop-shadow(calc(var(--shadow-x) + 9px) calc(var(--shadow-y)+1px) 10px rgba(0,0,0,0.9));
        filter: drop-shadow(calc(var(--shadow-x) + 9px) calc(var(--shadow-y)+1px) 10px rgba(0,0,0,0.9));
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
      box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 10px 30px rgba(0,0,0, 0);
        box-shadow: 0 0 10px 30px rgba(0,0,0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,0,0, 0);
        box-shadow: 0 0 0 0 rgba(0,0,0, 0);
    }
  }

.skillbars{
    padding: 0;
    margin: 0;
}
.skillbar{
    margin-left: 14px;
    margin-top: 3px;
    opacity: 0;
    transition: opacity 2s ease;
}
.skillbar .label{
    display: inline-block;
    position: absolute;
    left:22px;
    width: 15px; height:15px;
    z-index:1;
    backface-visibility: hidden;
}

.skillbar .bar{
    display: inline-block;
    position: absolute;
    left:60px;  
    margin:auto;
    /* width: calc(100% - 87px) !important; */
    width:0;
    height: 19px;
    
    /* background-color: var(--card-content-color); */
    background:url(../assets/bar3.png);

    background-position: right;
    background-size: auto 100%;
    background-repeat: no-repeat;

    z-index:0;
    /* border-radius: 2%/45%; */
    /* box-shadow: inset 0 0 5px 1px var(--card-border-color); */
    
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0)), linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, right bottom;

    transition: width 2s ease;
}

.skillbar .badge{
    display: inline-block;
    position: absolute;
    right: 32px;

    z-index:1;

    color: var(--card-content-color);
    text-shadow: 0 0 9px var(--card-border-color);
    
    text-align: center;
    line-height: 15px;
    
    z-index: 1;

}
.things {
    margin: 25px 0 0 -12.8px;
    font-family: berelen-small;
}
.things p{
    margin: -39px 0 0 42px;
    font-size: 0.6em;
    color: whitesmoke;
    transition:all 0.75s ease;
}
.things li{
    list-style-type: none;
    z-index: 10;
    margin-bottom: 11.8px;
    height: 40px;
    transition:all 0.75s ease;
}

.things a{
    transition:all 0.75s ease;
    text-decoration: none;
    text-shadow: 0 0 24px var(--card-border-color);
    user-select: all;
    font-size: 1.5em;
    line-height: 25px;
    color: var(--card-border-color);
}

.things span{
    text-shadow: 0 0 5px hsla(195, 100%, 43%, 1);
    right: 50px;
    margin-top: -28.5px;
    font-size: 0.8em;
    position: absolute;
    color: hsla(228, 11%, 34%, 1);
    transition:all 2s ease;
}


.things li:hover a{
    color: whitesmoke;
    text-shadow: 0 0 3px whitesmoke;
}
.things li:hover p{
    margin: -39px 0 0 32px;
}
.things li:hover span{
    color: whitesmoke;
    text-shadow: 0 0 3px whitesmoke;
}
#social{
    position: absolute;
    bottom: 25px;
    left: -6px;
    width: 100%;
    font-size: 0.8em;
}
#social li{
    display: inline-block;
    margin-right: 39.3px;
}
#social i{
    color: var(--card-border-color);
    text-shadow: 0 0 1px var(--card-border-color);
    transition:all 0.5s ease;
}
#social p{
    left: 0;
    position: absolute;
    font-size: 0.65em;
    text-align: center;
    transition: all 0.5s ease;
    color: transparent;
    right: 0;
    margin: auto;
    text-shadow: none;
}
#social a{
    text-decoration:none;
    position: absolute;
}
#social li:hover p,
#social li:hover i{
    color: var(--card-content-color);
    text-shadow: 0 0 1px white;
}

@media (hover: none) {
    .flip:hover .card{
        transform: none ;
        -moz-transform: none;
        -webkit-transform: none;
    }
}