[submodule "lib/webgl2js"]
	path = lib/webgl2js
	url = git@github.com:h3r/webgl2js
[submodule "lib/webgl2wasm"]
	path = lib/webgl2wasm
	url = git@github.com:h3r/webgl2js
[submodule "apps/viewer"]
	path = apps/viewer
	url = https://github.com/h3r/viewer.git
[submodule "lib/animator"]
	path = lib/animator
	url = git@github.com:h3r/animator
